<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="app"></div>

        <script type="module">
            import Vue from 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.4/vue.esm.browser.min.js';

            /**
             * EXERCISE:
             * If you are on free plan, show 2 buttons - "Upgrade to premium" and "Upgrade to pro" which changes the plan appropriately
             * If you are on premium plan, show 1 button - "Upgrade to pro" which changes the plan accordingly
             * 
             * NOTE: You can pass arguments to methods if you call the method explicitly like so on an element...
             * @click="switchToPlan( 'pro' )"
             */
            new Vue({
                el: '#app',
                data: {
                    plan: 'free' // 'free' | 'premium' | 'pro'
                },
                methods: {
                    upgrade( newPlan ) {
                        this.plan = newPlan;
                    }
                },
                template: `
                    <div>
                        Plan : {{plan}}
                        <template v-if="plan === 'pro'">
                            You can host unlimited websites
                        </template>
                        <template v-else-if="plan === 'premium'">
                            You can host 100 websites
                        </template>
                        <template v-else>
                            You can host upto 3 websites
                        </template>
                        <div>
                            <button v-if="plan === 'free'" @click="upgrade( 'premium' )">Upgrade to Premium</button>
                            <button v-if="plan === 'free' || plan === 'premium'" @click="upgrade( 'pro' )">Upgrade to Pro</button>
                        </div>
                    </div>
                `
            });
        </script>
    </body>
</html>