<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="app"></div>

        <script type="module">
            import Vue from 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.4/vue.esm.browser.min.js';

            new Vue({
                el: '#app',
                data: {
                    firstName: 'John',
                    lastName: 'Doe',
                    address: 'Some address'
                },
                computed: {
                    // computed properties are "derived" properties
                    // they are defined using functions
                    // they must return the computed value
                    // it runs each time the underlying data changes (i.e. when firstName / lastName change) - does not run when address changes
                    fullName() {
                        console.log( 'fullName computed property is recomputing' );
                        return this.firstName + ' ' + this.lastName;
                    }
                },
                methods: {
                    // methods run on ANY data change (not only underlying data changes) - runs even when address changes
                    getFullName() {
                        console.log( 'getFullName function is running' );
                        return this.firstName + ' ' + this.lastName;
                    }
                },
                template: `
                    <div>
                        <input type="text" placeholder="First name" v-model="firstName" />
                        <input type="text" placeholder="Last name" v-model="lastName" />
                        <textarea v-model="address" />
                        <div>
                            First name: {{firstName}}
                        </div>
                        <div>
                            Last name: {{lastName}}
                        </div>
                        <div>
                            Full name: {{firstName + ' ' + lastName}}
                        </div>
                        <div>
                            Full name: {{fullName}}
                        </div>
                        <div>
                            Full name: {{getFullName()}}
                        </div>
                    </div>
                `
            });
        </script>
    </body>
</html>