<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="app"></div>

        <script type="module">
            import Vue from 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.4/vue.esm.browser.min.js';

            // show the technology names in a list
            // 
            new Vue({
                el: '#app',
                data: {
                    technologies: [
                        'Angular JS',
                        'Angular',
                        'Vue JS',
                        'React JS',
                        'Node JS',
                        'TypeScript',
                        'HTML',
                        'CSS',
                        'JS',
                        'Mongo DB',
                    ],
                    filterKey: ''
                },
                computed: {
                    // your code goes in here...
                    // filteredTechnologies will change when any of the underlying variables change (i.e. technologies / filterKey changes)
                    filteredTechnologies() {
                        return this.technologies.filter( tech => tech.includes( this.filterKey ) );
                    }
                },
                template: `
                    <div>
                        <input type="search" placeholder="Type to filter" v-model="filterKey" />
                        
                        <ul>
                            <li v-for="tech in filteredTechnologies">{{tech}}</li>
                        </ul>
                    </div>
                `
            });
        </script>
    </body>
</html>