<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="app"></div>

        <script type="module">
            import Vue from 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.4/vue.esm.browser.min.js';

            /**
             * v-model can be used ONLY on input/select/textarea
             * EXERCISE: v-model is a combination of :value="variable" and @input="this.variable = $event.target.value"
             * 
             * $event refers to the event object in the template code where you call the event handler
             */
            new Vue({
                el: '#app',
                data: {
                    credentials: {
                        email: '',
                        password: ''
                    }
                },
                methods: {
                    login( /*event*/ ) {
                        // Vue has already prevented the browser submission!
                        // event.preventDefault();

                        console.log( this.credentials );
                    }
                },
                template: `
                    <div>
                        <h1>Login</h1>
                        <!-- <form @submit="login( $event )"> -->
                        <form @submit.prevent="login">
                            <label for="email">Email</label>
                            <input
                                type="email"
                                id="email"
                                v-model="credentials.email"
                            />
                            {{credentials.email}}
                            
                            <label for="password">Password</label>
                            <input
                                type="password"
                                id="password"
                                v-model="credentials.password"
                            />

                            <button type="submit">Login</button>
                        </form>
                    </div>
                `
            });
        </script>
    </body>
</html>